<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Agregar Persona</a></li>
                <li><a href="{{ url_for('editar', nombre_persona='nombre_de_la_persona') }}">Editar Personas</a></li>
                <li><a href="{{ url_for('eliminar_persona') }}">Eliminar Persona</a></li>
            </ul>
        </nav>
    </header>
    <h1>Editar Personas</h1>
    {% for persona in personas %}
    <form action="/editar_personas/{{ persona.nombre }}" method="post">
        <input type="text" name="nombre" value="{{ persona.nombre }}">
        <input type="text" name="apellido" value="{{ persona.apellido }}">
        <input type="text" name="telefono" value="{{ persona.telefono }}">
        <br><button type="submit">Actualizar</button>
    </form>
    {% endfor %} 
</body>
</html>
