<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Agregar Persona</a></li>
                <li><a href="{{ url_for('editar', nombre_persona='nombre_de_la_persona') }}">Editar Personas</a></li>
                <li><a href="{{ url_for('eliminar_persona') }}">Eliminar Persona</a></li>
            </ul>
        </nav>
    </header>
    <h1>Listado de Personas</h1>
    <ul>
        {% for persona in personas %}
        <li>{{ persona.nombre }}</li>
        {% endfor %}
    </ul>
    <h1>Eliminar Persona</h1>
    <form action="/eliminar_persona" method="post">
        <input type="text" name="nombre_persona" placeholder="Nombre de la persona a eliminar"><br>
        <button type="submit">Eliminar</button>
    </form>
</body>
</html>
