body {
    padding: 20px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}
h1 {
    color: blueviolet;
    margin-top: 50px;
}
form {
    margin-top: 20px;
}
input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}
button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Estilos para el navbar */
nav {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}
